<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Forms" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="php-5.5.15" />
            <add name="php-5.5.15" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
